form {
  background: white;
  padding: 24px;
  border-left: 4px solid #007bff;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  margin-bottom: 12px;
}

.connect-button {
  margin-top: 16px;
  width: 100%;
}

ion-button[disabled] {
  --background: #cccccc;
  color: #666666;
}

ion-input {
  border: 0;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 8px;
  text-align: left;
}

.register-link {
  text-align: center;
  margin-top: 16px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

::ng-deep input:-webkit-autofill,
::ng-deep input:-webkit-autofill:hover,
::ng-deep input:-webkit-autofill:focus,
::ng-deep textarea:-webkit-autofill,
::ng-deep select:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

:host{
  --ion-color-success: #007bff;
}