<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  placement="start"
  [visible]="true">
  
  <c-sidebar-brand class="d-md-down-none">
    <img src="assets/images/cyna-long-white.svg" alt="Cyna Admin" height="35" class="sidebar-brand-full">
    <img src="assets/images/cyna.svg" alt="Cyna" height="35" class="sidebar-brand-narrow">
  </c-sidebar-brand>

  <c-sidebar-nav
    [navItems]="navItems"
    [perfectScrollbar]="true"
    [options]="{ suppressScrollX: true }">
  </c-sidebar-nav>

  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar">
  </c-sidebar-toggler>
</c-sidebar>

<div class="wrapper d-flex flex-column min-vh-100">
  <c-container class="px-4 flex-grow-1 overflow-auto" fluid>
    <router-outlet></router-outlet>
  </c-container>
</div>