ion-tab-button {
  background: none;
  --color: white;
}

ion-tab-bar[slot='bottom'] {
  position: relative;
  bottom: -1px;
  --background: linear-gradient(150deg, rgb(1, 0, 51) 9%, rgb(48, 32, 130) 100%);
  --color-selected: #0099ff;
}

ion-tab-bar[slot='bottom']::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(132deg, rgb(1, 0, 51) 0%, rgba(255, 253, 253, 0.619) 74%);
}

ion-tab-bar[slot='top'] {
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 1);
  ion-tab-button {
    --color-selected: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    position: relative;
    justify-content: center;

    &:hover {
      --color-selected: initial;
    }

    &.tab-selected {
      color: #0099ff;
      font-weight: bolder;
    }

    &.tab-selected::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0; 
      width: 100%;
      height: 2px;
      background-color: #0099ff;
    }

    ion-label {
      text-transform: uppercase;
      width: max-content;
    }
  }
}

.admin-button {
  padding: 8px !important;
  border-radius: 12px;
  height: initial !important;
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.377)
}

.admin-button ion-tab-button {
  --padding-end: 0px;
  --padding-start: 0px;
}

::ng-deep .mdc-tooltip {
  background-color: #1f2937;
  color: #fff;
  font-size: 10px;
  padding: 4px 2px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 250px;
  text-align: center;
}