<ion-content [fullscreen]="true">
  <div [class]="isDesktop ? 'm-16' : ''">
    <div class="w-full flex flex-col justify-center gap-2 px-6">
      <div class="w-full flex items-center gap-2 mt-4 rounded-lg">
        <ion-icon name="list" class="color-theme-title text-xl"></ion-icon>
        <h3 class="text-xl font-bold text-black/80">Catégories</h3>
      </div>
      <hr class="w-full h-[2px] border-0 rounded-full my-[4px]" />
    </div>
    <div [class]="isDesktop ? 'grid grid-cols-4 p-6 w-full justify-items-center' : 'w-full'">
      <ion-card *ngFor="let category of categories" (click)="navigateToCategory(category.id)" button>
        <img src="assets/images/placeholder-image.png" alt="{{ category.name }}" class="category-image" />
        <ion-card-header>
          <ion-card-title>{{ category.name }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ category.description }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>