<ion-content [fullscreen]="true" class="min-h-full">
  <div [class]="isDesktop ? 'm-16' : ''" class="p-6 min-h-full">
    <div class="w-full flex flex-col justify-center gap-2">
      <div class="w-full flex flex-col sm:flex-row items-start sm:items-center gap-0 sm:gap-2 mt-4 rounded-lg">
        <div class="flex flex-row gap-2 items-center">
          <ion-icon name="bag-handle" class="color-theme-title text-3xl"></ion-icon>
          <h3 class="text-2xl font-bold text-black/80">Produits</h3>
        </div>
        <p *ngIf="products[0]?.category?.name" class="cursor-pointer text-sm font-semibold italic color-theme-subtitle bg-theme-secondary rounded-lg p-2 flex items-center gap-1" [routerLink]="['/categories']">
          <ion-icon name="caret-forward-circle" class="text-sm"></ion-icon>
          {{ products[0]?.category?.name }}
        </p>
      </div>
      <hr class="w-full h-[2px] border-0 rounded-full my-[4px]" />
    </div>

    <div *ngIf="showProducts && products.length"
         [@listAnimation]
         [class]="isDesktop ? 'gap-7 grid grid-cols-4 py-6 w-full justify-items-center' : 'w-full gap-3 flex flex-col items-center mt-2'">
      <ion-card button *ngFor="let product of products" (click)="navigateToProduct(product.id)">
        <img src="assets/images/placeholder-image.png" alt="{{ product.name }}" class="product-image" />
        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
          <ion-card-subtitle>{{ product.price | currency }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ product.description }}
        </ion-card-content>
      </ion-card>
    </div>  
  </div>
  <app-footer></app-footer>
</ion-content>
