<ion-content [fullscreen]="true" class="min-h-full">
  <div [class]="isDesktop ? 'm-4 md:m-16' : ''" class="min-h-full">
    <div class="banner">
      <h1>Bienvenue sur notre boutique</h1>
      <p>Découvrez nos produits phares et nos meilleures offres !</p>
    </div>
    <div class="w-full flex flex-col justify-center gap-2 px-6">
      <div class="w-full flex items-center gap-2 mt-2 rounded-lg">
        <ion-icon name="star" class="color-theme-title text-3xl"></ion-icon>
        <h3 class="text-2xl font-bold text-black/80">Produits en vedette</h3>
      </div>
      <hr class="w-full h-[2px] border-0 rounded-full my-[4px]" />
    </div>
    <swiper-container
        slides-per-view="1.5"
        space-between="0"
        navigation="true"
        pagination="true"
        autoplay="true"
        class="product-slider py-4"
      >
      <swiper-slide class="px-6 pb-10" *ngFor="let product of featuredProducts">
        <ion-card class="m-0" (click)="goToProduct(product.id)">
          <img src="assets/images/placeholder-image.png" alt="{{ product.name }}" class="" />
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
            <ion-card-subtitle>{{ product.monthlyPrice | currency: 'EUR': 'symbol' }}/mois - {{ product.yearlyPrice | currency: 'EUR': 'symbol' }}/an</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <div class="w-full flex flex-col justify-center gap-2 px-6">
      <div class="w-full flex items-center gap-2 mt-2 rounded-lg">
        <ion-icon name="file-tray-full" class="color-theme-title text-3xl"></ion-icon>
        <h3 class="text-2xl font-bold text-black/80">Catégories</h3>
      </div>
      <hr class="w-full h-[2px] border-0 rounded-full my-[4px]" />
    </div>
    <div class="categories">
      <ion-chip *ngFor="let category of categories" (click)="goToCategory(category.id)">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>{{ category.name }}</ion-label>
      </ion-chip>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
