<ion-content class="ion-padding">
  <div [class]="isDesktop ? 'm-16' : ''">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h1 class="color-theme-title text-center font-bold text-2xl">Inscription</h1>

      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input placeholder="Prénom" type="text" formControlName="firstName" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error">
        Prénom requis
      </div>

      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input placeholder="Nom" type="text" formControlName="lastName" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error">
        Nom requis
      </div>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="Email" type="email" formControlName="email" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
        Email invalide
      </div>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input placeholder="Mot de passe" type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
        Mot de passe requis
      </div>

      <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">
        S'inscrire
      </ion-button>
    </form>

    <div class="login-link">
      <p class="text-white">Déjà un compte ? <a [routerLink]="['/login']">Connectez-vous</a></p>
    </div>
  </div>
</ion-content>
