<ion-content class="ion-padding min-h-full">
  <div [class]="isDesktop ? 'm-4 md:m-16' : ''" class="p-6 min-h-full">
    <div class="w-full flex flex-col justify-center gap-2">
      <div class="w-full flex items-center gap-2 mt-4 rounded-lg">
        <ion-icon name="person-add" class="color-theme-title text-3xl"></ion-icon>
        <h3 class="text-2xl font-bold text-black/80">Inscription</h3>
      </div>
      <hr class="w-full h-[2px] border-0 rounded-full my-[4px]" />
    </div>
    <div *ngIf="showForm" [@pageAnimation]>
      <form class="w-full mt-4" [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item>
          <ion-input labelPlacement="stacked" label="Prénom" placeholder="Jean" type="text" formControlName="firstName" required>
            <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error">
          Prénom requis
        </div>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Nom" placeholder="Dupont" type="text" formControlName="lastName" required>
            <ion-icon slot="start" name="person-outline" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error">
          Nom requis
        </div>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Email" placeholder="email@example.com" type="email" formControlName="email" required>
            <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
          Email invalide
        </div>
        <ion-item>
          <ion-input
            labelPlacement="stacked"
            label="Mot de passe"
            placeholder="Mot de passe"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            required
          >
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()" type="button" aria-label="Afficher ou masquer le mot de passe">
              <ion-icon
                slot="icon-only"
                [name]="showPassword ? 'eye-off' : 'eye'"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
          Votre mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial (&#64;$!%*?&).
        </div>
        <ion-button class="register-button" expand="full" type="submit" [disabled]="registerForm.invalid">
          S'inscrire
        </ion-button>
      </form>
      <div class="login-link">
        <p>Déjà un compte ? <a [routerLink]="['/login']">Connectez-vous</a></p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
